<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPTV 서비스 이상 감지</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.3.slim.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizLand - v3.10.0
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>
<body>

    <script type="text/javascript">

        window.onload = function () {
            if (window.Notification) {
                Notification.requestPermission();
            }
        }
 
        function notify() {
            if (({{state1}} != 200) || ({{state2}} != 200)) {
                var notification = new Notification("Connection Error!", {body:'IPTV 서비스 접속 에러가 발생하였습니다'});
 
                notification.onclick = function () {
                    window.open('http://127.0.0.1:5000/');
                };
            }
        }

        setInterval('window.location.reload()', 60000);
        function sendRequest() {
            var xhr = new XMLHttpRequest();
            xhr.open("get", "{{url_for('request_code')}}");
            xhr.send();
        }
        

        sendRequest();
        notify();
    </script>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><span>a01051172964@gmail.com</span></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+82 1051172964</span></i>
          </div>
          <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
          </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><span>U+</span> IPTV 클라우드 서비스 상태</h1>
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
            
            <nav id="navbar" class="navbar">
                <ul>
                <li><a class="nav-link scrollto" href="{{url_for('request_code')}}">Home</a></li>
                <li><a class="nav-link scrollto" href="{{url_for('response1')}}" target="_blank">WAS1_Log</a></li>
                <li><a class="nav-link scrollto" href="{{url_for('response2')}}" target="_blank">WAS2_Log</a></li>
                <li><a class="nav-link scrollto active" href="{{url_for('response3')}}" target="_blank">Uremocon_Log</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= 
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>보안을 <span>생활화</span> 합시다</h1>
        </div>
    </section> -->

    <section id="about" class="about section-bg">
        <table class="table table-bordered">
            <thead class="table-info">
            <tr>
                <th scope="col" class="fs-3 fw-semibold">IPTV 서비스</th>
                <th scope="col" class="fs-4 fw-semibold text-center">Response</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr>
                <th scope="row">
                    <div class="fs-4 fw-semibold">서버 기반 리모콘 앱</div>
                </th>
                <td class="fs-4 fw-semibold">{{text3}}</td>
            </tr>
            </tbody>
        </table>
    </section>
    
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
        </div>
    </footer><!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>
</body>
</html>